{{ "<!-- footer -->" | safeHTML }}
{{ partial "search-index.html" . }}
  <div class="section" style="padding-left: 80px; padding-right: 80px; padding-bottom: 0; padding-top:80px; background: black; color: white; margin-top: 80px;">
       <div class="row text-center">
      <div class="col-md-4 text-md-left text-center" style="color: white;" style="width: 100%;">
       <p class="mb-md-0 mb-4 text" style="color: white;">{{ .Site.Params.copyright | markdownify }}</p>
       <a class="mb-md-0 mb-4 text" style="color: white; a: white;" href="https://www.freepik.com/">All SVG Graphics from www.freepik.com</a>
      </div>
      <div class="col-md-4 text-center" style="width: 100%;">
       <p class="mb-md-0 mb-3 text-center" style="color: white;"><ul>
        <li>Brock University Library</p></li>
         <li>Niagara Region</p></li>
         <li>N1812 Sir Isaac Brock Way
</p></li>
         <li>St. Catharines, ON</li>
         <li>L2S 3A1 Canada</li>
       </ul></p>
      </div>
      <div class="col-md-4 text-md-right text-center" style="color: white;">
        <ul class="list-inline" style="color: white;">
          {{ range .Site.Params.social }}
          <li class="list-inline-item" style="color: white;"><a class="text-color d-inline-block p-2" style="color: white;" href="{{ .link | safeURL }}" aria-label="{{ .name }}"><i style="color: white;" class="{{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="row"></div>
         <div class="row align-items-center text-center">
          <div class="col-md-3">       <hr style="border:1px outset;background-color:#FFFFFF;color:#FFFFFF;height:.1%;width:100%" />
</div>
      <div class="col-md-6 text-md-left text-center">
        <br>
       <p class="mb-md-0 mb-6 text"><p style="color: white;">We acknowledge the land on which Brock University was built is the traditional territory of the Haudenosaunee and Anishinaabe peoples, many of whom continue to live and work here today. This territory is covered by the Upper Canada Treaties and is within the land protected by the Dish with One Spoon Wampum agreement. Today this gathering place is home to many First Nations, Metis, and Inuit peoples and acknowledging reminds us that our great standard of living is directly related to the resources and friendship of Indigenous people.</p>
      </div>
      <div class="col-md-3">       <hr style="border:1px outset;background-color:#FFFFFF;color:#FFFFFF;height:.1%;width:100%" />
</div>
    </div>
  </div>
{{ "<!-- /footer -->" | safeHTML }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<script src="{{ $script.Permalink }}"></script>
<script src="/js/filter.js"></script>

